{% extends 'oplate.html' %}

{% load static %}

{% block content %}

<h3> Условия для предоставления услуги </h3>
<p>
	В этом блоке описываем условия предоставления услуги отложенного платежа (Процентные ставки на различные периоды пользования, максимально предоставляемая сумма и.т.д).А так же послежствия не выполнения этих условий. <br><em> Необходимо исключить риски того что производитель наберет долгов и перестанет пользоваться платформой. </em>
</p>
<p><input type="checkbox"> - c условиями предоставления услуги согласен </p>
<button>Подписать договор</button>
<div>
	<p>После ввода кода из смс и нажимая кнопку продолжить вы подписываете договор с компанией "Союзлогистик" на предоставление услуги</p>
	<p>Договор на указание услуг будет отправлен Вам на электронную почту указанную при регистрации</p>
	<p>Введите код из смс <input type="text"></p>
	<form action="{% url 'app_drivers:my_order' %}">
		<button>Продолжить</button>
	</form>

</div>
</p>

{% endblock %}