<!DOCTYPE html>  
<html lang="en">  
<head>  
	<meta charset="UTF-8">  
	<title>Форма создания и редактирования Авторов</title>  
</head>  
<body>
	{% block content %}
	<h3>Проверьте данные и оплатите заказ</h3>
	<div>
		<p>сформирован заказ №{{ order.number_order }}</p>
		<p>id - {{ order.id }}</p>
		<p> организация отправитель - {{ order.name }}</p>
		<p>адрес отпрвления {{ order.adress_start }} </p>
		<p> адрес доставки {{ order.adress_end }} </p>
		<p> общая цена  {{ order.price }}</p>
		<p>цена за километр {{ order.price_on_kilo }} </p>

	</div>
	<form action="{% url 'app_drivers:my_order' %}">
		<button>Оплатить</button> 
	</form>

	<p> или <a href="{% url 'app_drivers:deferred_payment' %}">Восползоваться отложенным платежом</a> </p>
	{% endblock %}
</body>  
</html>