<!DOCTYPE html>  
<html lang="en">  
<head>  
	<meta charset="UTF-8">  
	<title>Форма создания и редактирования Авторов</title>  
</head>  
<body>
	{% block content %}
	<h3>Проверьте данные и оплатите заказ</h3>
	<div>
		<p>oks - {{ order.id }} {{ order.name }} {{ order.number_order }} {{ order.citi_start }} {{ order.citi_end }} </p>
	</div>
	<form action="{% url 'app_drivers:my_order' %}">
		<button>Оплатить</button> 
	</form>

	<p> или <a href="{% url 'app_drivers:deferred_payment' %}">Восползоваться отложенным платежом</a> </p>
	{% endblock %}
</body>  
</html>