{% extends 'base.html' %}

{% block content %}
<body>
	<h5>Принять заказ вы можете нажав подробности</h5>
	<form action="" method="POST" >
		{% csrf_token %}
		<table  border="1">
			<thead >
				<tr>
					<th>#</th>
					<th>Груз</th>
					<th>Организация</th>
					<th>Город отправки </th>
					<th>Город доставки</th>
					<th>Требуемое Кол-во машин</th>
					<th>Требуемое грузоподъемность машины</th>
					<th>Цена за 1 машину</th>
					<th>Номер заказа</th>
					<th>Подробности</th>
				</tr>
			</thead>
			{% for i in object_list %}
			<tbody>
				<tr>							
					<th>{{ forloop.counter }}</th>	
					<th>{{ i.title }}</th>	
					<th>{{ i.name }}</th>	
					<th>{{ i.citi_start }}</th>	
					<th>{{ i.citi_end }}</th>	
					<th>{{ i.count }}</th>	
					<th>{{ i.mass }}</th>	
					<th>{{ i.price }}</th>	
					<th>{{ i.number_order }}</th>
					<th>
						{% if register_name.customer == 'RCD'%}
						<button><a href="{% url 'app_driver:base' %}">Подробнее</a></button>
						{% else %}
						<p>Чтобы принять заказ <a href="{% url 'app_driver:register' %}">зарегестрируйтесь</a> <br> <a href="{% url 'app_driver:login' %}"> Войдите </a> </p>
						{% endif %}
					</th>
				</tr>
			</tbody>
			{% endfor %}

			
		</table>
	</form>
</body>

{% endblock %}
